*{
    border: 0;
    padding: 0;

}

#principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: black;
    

}

#canvas {
    border: 10px solid #c93c20;
    
}

#phantomlogo{
    width:300px;
    height: 220px;
}

#titulos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10vw;
    height: 220px;
}

div span{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-top: 60px;
}

#click{
    margin-left: 75px;
    margin-top: 20px;

}

#wasd{
    margin-left: 150px;
    margin-right: 30px;
}

#menu{
    display: flex;
    flex-direction: column;
    background-color: black;
    font-size: 50px;
    height: 1000px;
    
}

#gameboard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.btn-primary{
    height: 70px;
    color: black !important;
    background: url('./assets/electic.jpg') !important;
    width: 300px;
    font-family: 'Teko';
    font-size: 40px !important;
    font-weight: bold !important;
}

#buttondiv{
    display: flex;
    margin-top: 700px;
    margin-left: 50px;
}

#logodiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    margin-left: 30vw;
    justify-items: center;
}

.enemyimage{
    width: 60px;
    height: 80px;
}

#enemydiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

#menu p {
    margin-top: 15vh;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;
}